<h2>Edit <%= @user.full_name %></h2>

<%= form_for(@user, :url => user_path(@user), :html => { :method => :put }) do |f| %>
  <%=user_error_messages! %>
  <div><%= f.label :email %> |
  <span><%= @user.email %></span></div> <br/>

  <div><%= f.label :current_password %><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.label :new_password %><br />
  <%= f.password_field :new_password %></div>

  <div><%= f.label :new_password_confirmation %><br />
  <%= f.password_field :new_password_confirmation %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<%= link_to "Back", :back %>
