<!DOCTYPE html>
<html>
<head>
  <title>Cheques</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% unless current_user.nil? %>
  <span id="username"> <%=current_user.full_name%> </span> |
  <span id="organization"> <%=current_user.organization.name%> </span> |
  <span> <%=link_to "Logout", logout_path%> </span>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <div id="container">
    
    <header>
      <h1>Pivotal Chequer</h1>
    </header>

    <section>
      <%= yield %>
    </section>

  </div>

</body>
</html>
